/* Public Application Template v.1.2.0 */
/*global*/
.hidden {
    display: none !important;
}

/*base*/
html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #3d3d3d;
    font-size: 1em;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}

a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #3d3d3d;
    font: bold 130%/115% Arial, Verdana, Helvetica, sans-serif;
    margin: 0 0 16px;
    padding: 0;
}

h2 {
    color: #898989;
    font: bold 115%/115% Arial, Verdana, Helvetica, sans-serif;
    margin: 15px 0 5px;
    padding: 0;
}

h3, h4, h5, h6 {
    color: #3d3d3d;
    font: bold 100%/115% Arial, Verdana, Helvetica, sans-serif;
    margin: 13px 0 5px 0;
    padding: 0;
}

hr {
    border: solid #888;
    border-width: 1px 0 0;
}

del {
    color: #3d3d3d;
    text-decoration: line-through;
}

ins {
    color: #ff6600;
    text-decoration: none;
}

kbd {
    font-family: Courier,serif;
}

a img {
    border: 0;
}

html > body sup {
    font-size: 80%;
    line-height: inherit;
    position: relative;
    top: 3px;
}

/*layout controls*/
body {
    background: #FFFFFF;
}

/* body {background:#184371 url("../images/layout/body_bg.gif") top left repeat;} */
#container {
    background-color: #FFF;
    display: table;
    width: 100%;
}

#head {
    background: #C6E7FF url("../images/layout/capTop1.gif") left bottom repeat-x;
}

#head .fluid {
    background: transparent url("../images/layout/capTop2.gif") right bottom no-repeat;
}

#head .fluid .fluid {
    height: 85px;
    padding: 5px;
    background: transparent url("../images/layout/capTop3.gif") left bottom no-repeat;
}

#head a {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    height: 71px;
    text-decoration: none;
    width: 185px;
}

#headlink {
    height: 71px;
    float: right;
    padding: 0 15px 0 0;
}

#headlink a {
    display: block;
    margin-top: 25px;
    font-size: 76%;
    font-weight: bold;
    font-family: Verdana,Arial,sans-serif;
    color: #0365fe;
    width: auto;
}

#mainContent {
    padding: 10px;
    float: left;
}

#footer {
    font-family: Verdana,Arial,sans-serif;
    clear: both;
    background: #c6e7ff url("../images/layout/capBottom1.gif") left top repeat-x;
}

#footer .fluid {
    background: transparent url("../images/layout/capBottom2.gif") top right no-repeat;
}

#footer .fluid .fluid {
    background: transparent url("../images/layout/capBottom3.gif") top left no-repeat;
    padding: 12px 0 2px 20px;
}

#footer p.quicklinks {
    font-size: 66%;
    color: #C37B37;
    white-space: nowrap;
}

#footer p a {
    color: #575757;
    font-weight: bold;
}

#footer p.readers {
    font-size: 66%;
    margin: 0 0 0 20px;
    padding: 0 0 15px 0;
    color: #C37B37;
    white-space: nowrap;
}

#footer p.readers strong {
    color: #575757;
}

#footer p.readers a {
    font-weight: normal;
    color: #0365fe;
}

/*sidebars*/
#app-area {
    width: 100%;
    margin: 15px 0;
}

#app-sidebar {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 78%;
    width: 170px;
    vertical-align: top;
    padding: 0 20px 15px 25px;
    background: transparent url("separator_pattern.gif") right top repeat-y;
}

#app-sidebar h1 {
    border-bottom: 1px solid #9c9a9c;
    font-size: 105%;
    line-height: 100%;
    padding: 0 0 9px 0;
}

#app-sidebar ul {
    font: bold 85%/125% Verdana,Arial,Helvetica,sans-serif;
    list-style-image: url("bullet.gif");
    list-style-position: outside;
    margin: 15px 0 0;
    padding-left: 19px;
}

#app-sidebar ul ul {
    font-size: 100%;
    list-style-image: url("bullet_indent.gif");
    margin: 1px 0;
}

#app-sidebar li {
    margin-top: 7px;
}

#app-sidebar a, #app-sidebar a:link, #app-sidebar a:visited {
    color: #1187e7;
}

/*content blocks*/
.content {
    font-size: 83%;
    line-height: 125%;
}

.content h1.has-sub {
    margin-bottom: 0;
}

.content h1.subHeading, .content h1.sub-heading {
    color: #6d6d6d;
    font-size: 115%;
    margin: 0 0 16px;
}

.content h2 {
    font: bold 107%/105% Arial, Verdana, Helvetica, sans-serif;
    color: #3d3d3d;
    margin: 16px 0 1px;
    padding: 0;
}

.content h2.sub-heading {
    margin: -15px 0 18px;
}

.content h3 {
    margin: 15px 0 1px;
    padding: 0;
}

.content a, .content a:link {
    text-decoration: underline;
}

.content a:visited {
    color: #639;
}

.content a:hover {
    text-decoration: underline;
}

.content p {
    font-size: 100%;
    padding: 0;
    margin: 1px 0 16px 0;
}

.content p.goback, .content p.go-back {
    position: absolute;
    top: 3px;
    right: 25px;
}

.content p.goback a, .content p.go-back a {
    font-size: 80%;
}

.content a.more {
    font-size: 80%;
    font-weight: bold;
}

.content p a.audioLink, .content p a.audio-link {
    background: transparent url("../images/layout/audio_icon.gif") center left no-repeat;
    padding: 0 0 0 27px;
}

.content a.anchor-up {
    background: transparent url("../images/layout/anchor_up.gif") center left no-repeat;
    padding: 0 0 0 13px;
}

.content a.anchor-down {
    background: transparent url("../images/layout/anchor_down.gif") center left no-repeat;
    padding: 0 0 0 13px;
}

.content img.left {
    float: left;
    margin: 0 4px 4px 0;
}

.content img.right {
    float: right;
    margin: 0 0 4px 4px;
}

.content a, .content a:link {
    color: #0365FE;
}

.content a:hover {
    color: #575757;
}

.content a:visited {
    color: #639;
}

.content a.bold {
    font-weight: bold;
}

.content a.small {
    font-size: 85%;
}

.content a.big {
    font-size: 115%;
}

.content code {
    font-size: 103%;
    color: #20378f;
}

.content blockquote {
    font-size: 100%;
    margin: 15px 20px;
    padding: 0;
}

div.code {
    width: 550px;
    border: 1px solid #eee;
}

div.code h3 {
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

html body .content div.code ol {
    margin: 5px;
}

html body .content div.code hr {
    border: solid #eee;
    border-width: 1px 0 0;
}

div.code ol li code {
    display: block;
    padding: 2px;
    margin-bottom: 1px;
    background: #E7F3FE;
}

div.code ol.incorrect li code {
    background: #FEE7EA;
}

.content address {
    font-size: 100%;
    font-style: normal;
    color: #3f3f3f;
    margin: 1px 0 12px;
}

.content ul {
    text-align: left;
    font-size: 100%;
    list-style-position: outside;
    margin: 3px 0 15px;
    padding-left: 25px;
    list-style-image: url("../images/layout/bullet.gif");
}

.content ul.anchor-down {
    list-style-image: url("../images/layout/anchor_down.gif");
}

.content ul.anchor-up {
    list-style-image: url("../images/layout/anchor_up.gif");
}

.content ul li, .content ol li {
    font-size: 100%;
    line-height: 120%;
}

.content ul.home {
    margin-bottom: 0;
}

.content ul ul, .content ol ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-image: url("../images/layout/bullet_indent.gif");
}

.content ol {
    text-align: left;
    font-size: 100%;
    list-style-position: outside;
    margin: 1px 0 15px;
    padding-left: 30px;
}

.content ol ol {
    list-style-type: lower-alpha;
    margin: 0;
}

.content ol ol ol {
    list-style-type: decimal;
    margin: 0;
}

.content ol ol ol ol {
    list-style-type: lower-alpha;
    margin: 0;
}

.content ul ol, .content ul ul, .content ol ul, .content ol ol {
    font-size: 100%;
}

.content ul li.more, .content ol li.more {
    list-style: none;
    list-style-image: none;
    font-size: 80%;
    font-weight: bold;
    margin-top: 5px;
}

.content ul.afterp, .content ol.afterp, .content table.afterp, .content p.afterp, .content div.afterp, .content address.afterp, .content dl.afterp {
    margin-top: -15px;
}

.content ul.oversized li, .content ol.oversized li {
    padding-bottom: 12px;
}

.content ul.oversized li li, .content ol.oversized li li {
    padding-bottom: 0;
}

.content dl {
    text-align: left;
    font-size: 100%;
    margin: 1px 0 15px;
}

.content dl.photo {
    border: 1px solid #3d3d3d;
}

.content dl.photo dt {
    padding: 3px;
}

.content dl.photo dt img {
    border: 1px solid #3d3d3d;
}

.content dl.photo dd {
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}

.content table {
    font-size: 100%;
    margin: 0 0 15px;
    border: 0;
}

.content table.bordered {
    border: 1px solid #666;
}

.content table.bordered td, .content table.bordered th {
    border: 1px solid #666;
}

.content table.has-bottom {
    border-bottom: 1px solid #f1f1f1;
}

.content table caption {
    font-size: 90%;
    font-weight: bold;
    text-align: left;
}

.content thead tr {
    background: #1086e7;
}

.content thead tr.level_one, .content thead tr.level-one {
    background: #003063;
}

.content thead tr th {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 90%;
    border: 0;
}

.content thead tr th a {
    color: #fff !important;
}

.content thead tr th.left, .content thead tr.left th {
    text-align: left;
}

.content thead tr td {
    font-size: 0.1em;
    color: #f00;
    background: #f00;
    border: 0;
}

.content tbody tr.odd, .content tbody tr.alt-bg {
    background: #f1f1f1;
}

.content tbody tr td.span-left, .content tbody tr th.span-left {
    border-right: 1px dotted #e9e9e9;
}

.content tbody tr td.alt-span-left, .content tbody tr th.alt-span-left {
    border-right: 1px dotted #fff;
}

.content tbody tr td.span-right, .content tbody tr th.span-right {
    border-left: 1px dotted #e9e9e9;
}

.content tbody tr td.alt-span-right, .content tbody tr th.alt-span-right {
    border-left: 1px dotted #fff;
}

.content tbody tr.inner-row td, .content tbody tr.inner-row th {
    border-top: 1px dotted #e9e9e9;
}

.content tbody tr.alt-inner-row td, .content tbody tr.alt-inner-row th {
    background: #f1f1f1;
}

.content tbody td {
    font-size: 100%;
    text-align: left;
    border: 0;
}

.content tbody tr th {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background: #e3e3e3;
    color: #1e1e1e;
    border: 0;
}

.content tfoot tr {
    background: #003063;
    color: #fff;
}

.content tfoot td, .content tfoot th {
    font-size: 80%;
    text-align: left;
    border: 0;
}

.content table.centered tbody td, .content table tbody td.centered, .content table tbody tr.centered td, .content table tbody tr.centered th, .content table.centered tfoot td, .content table tfoot td.centered, .content table tfoot th.centered, .content table tfoot tr.centered td, .content table tfoot tr.centered th {
    text-align: center;
}

.content table tbody td.right, .content table tbody th.right, .content table tbody tr.right td, .content table tbody tr.right th, .content table tfoot td.right, .content table tfoot th.right, .content table tfoot tr.right td, .content table tfoot tr.right th {
    text-align: right;
}

.content form table tbody th {
    background: #fff;
    color: #900;
    font-weight: normal;
    text-align: right;
    border: 0;
}

.content form table tbody table thead th {
    background: #1086e7;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 0;
}

.content form table tbody td span.alert {
    font-size: 90%;
    color: #f00;
}

.content form table tbody tr.action td {
    padding-top: 0px;
    text-align: center;
    border: 0;
}

.content form table tr.action td {
    width: 500px;
    text-align: center;
}

.content form table tbody tr.action input {
    color: #fff;
    background: #1187e7;
    border: 1px solid #424142;
}

.content form table tbody tr.action input.primary {
    font-weight: bold;
    margin-right: 8px;
    padding: 1px 1px 1px;
}

.content form table tbody tr.action input.secondary {
    padding: 1px 1px 1px;
    font-weight: normal;
}

.content form table tbody th.key {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #900;
    font-size: 65%;
    text-align: left;
}

/* =form elements */
.content label {
    font: 85%/120% Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3d3d3d;
    cursor: pointer;
    margin-left: 1px;
    vertical-align: middle;
}

.content input, .content select, .content textarea {
    vertical-align: middle;
    border: 1px solid #7f9db9;
    padding: 1px 1px 3px;
}

.content input.checkbox, .content input.radio {
    border-width: 0;
}

.content input.read-only {
    background: #e3e3e3;
}

.content form hr {
    margin: 10px auto 3px;
    width: 95%;
    border: solid #666;
    border-width: 1px 0 0;
}

.content form h2 {
    color: #900;
    text-align: left;
    margin: 20px 0 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid #999;
}

.content abbr, .content acronym {
    cursor: help;
    color: inherit;
    border-bottom: 1px dotted #ddd;
}

.content blockquote code, .content p code, .content ul code, .content ol code {
    font-size: 100%;
}

.content div.image img {
    display: block;
}

.content div.s1 img, .content div.s3 img {
    border: 1px solid #3d3d3d;
    margin: 0 auto;
}

.content div.s2 img {
    margin: 0 auto;
}

.content div.s2, .content div.s3 {
    border: 1px solid #3d3d3d;
    padding: 2px 0;
    background: #f1f1f1;
}

.content div.image p.caption {
    margin: 0 auto;
    font-style: italic;
    font-size: 76%;
}

.content div.left {
    float: left;
}

.content div.right {
    float: right;
}

.content form.type-1 h2 {
    color: #900;
    text-align: left;
    margin: 0 0 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid #999;
}

form.type-1 input {
    vertical-align: baseline;
    border: 1px solid #7f9db9;
    padding: 1px 1px 3px;
    margin: 0;
}

form.type-1 input.no-border {
    border: 0 !important;
}

form.type-1 select {
    vertical-align: middle;
    border: 1px solid #7f9db9;
    padding: 1px 1px 3px;
}

form.type-1 textarea {
    vertical-align: middle;
    border: 1px solid #7f9db9;
    padding: 1px 1px 3px;
}

form.type-1 input.read-only {
    background: #e3e3e3;
}

.content form.type-1 p {
    line-height: 120%;
    padding: 0;
    margin: 10px 0 5px;
    overflow: hidden;
}

form.type-1 fieldset {
    padding: 6px;
    margin: 0 0 12px;
    border: 1px solid #999;
}

.content form.type-1 p.key {
    padding-left: 152px;
    font-size: 80%;
    color: #d00;
    margin: 0 0 5px 0;
}

form.type-1 label {
    font-size: 90%;
    font-weight: bold;
    display: block;
    float: left;
    width: 135px;
    padding: 0 10px 0 0;
    text-align: right;
}

form.type-1 label:hover {
    cursor: pointer;
}

form.type-1 label strong {
    color: #d00;
    font-size: 90%;
    font-family: Verdana,Arial,sans-serif;
}

form.type-1 p span {
    display: block;
    font-size: 80%;
    color: #777;
    margin-left: 152px;
}

form.type-1 p span.no-border input {
    border: 0 !important;
}

.content form.type-1 p span label {
    font-size: 110%;
    font-weight: normal;
    color: #3d3d3d;
    display: inline;
    float: none;
    padding: 0 2px 0 0;
    vertical-align: text-bottom;
}

.content form.type-1 p.action, .content form.type-1 p.no-label {
    padding-left: 152px;
    margin: 0;
}

.content form.type-1 p.border {
    background: url("../images/layout/line_patt_dot.gif") top left repeat-x;
    padding-top: 10px;
    margin-top: 8px;
}

.content form.type-1 input.button {
    background: #1187e7;
    color: #fff;
    border: 1px solid #3d3d3d;
}

.content form.type-1 input.button:hover {
    background: #2298f8;
    cursor: pointer;
}

.content form.type-1 input.primary {
    font-weight: bold;
    border-width: 2px;
}

.content form.type-1 input.secondary {
    padding: 2px 0 4px;
}

.content form.type-2 p.key {
    font-size: 80%;
    color: #d00;
}

.content form.type-2 label {
    font-size: 90%;
    font-weight: bold;
    text-align: right;
}

.content form.type-2 label:hover {
    cursor: pointer;
}

.content form.type-2 label strong {
    color: #d00;
    font-size: 90%;
    font-family: Verdana,Arial,sans-serif;
}

.content form.type-2 input.no-border {
    border: 0 !important;
}

.content form.type-2 .border {
    background: url("../images/layout/line_patt_dot.gif") top left repeat-x;
}

.content form.type-2 input.button {
    background: #1187e7;
    color: #fff;
    border: 1px solid #3d3d3d;
}

.content form.type-2 input.button:hover {
    background: #2298f8;
    cursor: pointer;
}

.content form.type-2 input.primary {
    font-weight: bold;
    border-width: 2px;
}

.content form.type-2 input.secondary {
    padding: 2px 0 4px;
}

.content *.alert {
    color: #e00 !important;
}

.content *.bold {
    font-weight: bold !important;
}

.content *.small {
    font-size: 80% !important;
}

.content .box {
    overflow: hidden;
}

/*legacy support - uncommented, condensed*/
body.employees #content table tbody tr td.formlabel, body.employees #content table tbody tr td.formLabel, body.employees #content table tbody tr td.FormLabel {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px !important;
    font-weight: bold;
    text-align: right !important;
}

.formvalid, .formValid {
    color: #900;
    font-weight: bold;
}

.formlabel, .formLabel, .FormLabel {
    font-weight: bold;
    font-size: 10px !important;
    font-family: Verdana,Arial,sans-serif;
    text-align: right !important;
}

.formlabel label, .formLabel label, .FormLabel label {
    font-size: 10px !important;
}

.bodytextwhite, .bodyTextWhite {
    color: #fff;
}

.buttonstyle, .buttonStyle {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background: #1187e7;
    border: 1px solid #424142;
}

.dotline, .dotLine, .DotLine, .linepartition, .linePartition, .LinePartition {
    background: transparent url("../images/layout/line_patt_dot.gif") repeat-x center center;
    height: 19px;
    margin: 0;
    width: 100%;
}

.thirdcolumnhead, .thirdcolumn, .thirdColumnHead, .thirdColumn {
    color: #3d3d3d;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

td.date, font.date, td.Date, font.Date {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.utilitiesnavhead, .utilitiesNavHead {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

a.bodytextlink, a.bodytextlink:link, a.bodytextlink:visited, a.bodyTextLink, a.bodyTextLink:link, a.bodyTextLink:visited, a.BodyTextLink, a.BodyTextLink:link, a.BodyTextLink:visited, a.linksbody, a.linksbody:link, a.linksbody:visited, a.linksBody, a.linksBody:link, a.linksBody:visited, a.LinksBody, a.LinksBody:link, a.LinksBody:visited {
    color: #0365FE;
}

a.bodytextlinkbold, a.bodytextlinkbold:link, a.bodytextlinkbold:visited, a.bodyTextLinkBold, a.bodyTextLinkBold:link, a.bodyTextLinkBold:visited, a.BodyTextLinkBold, a.BodyTextLinkBold:link, a.BodyTextLinkBold:visited {
    color: #0365FE;
    font-weight: bold;
}

a.bodytextlinksmall, a.bodytextlinksmall:link, a.bodytextlinksmall:visited, a.bodyTextLinkSmall, a.bodyTextLinkSmall:link, a.bodyTextLinkSmall:visited, a.BodyTextLinkSmall, a.BodyTextLinkSmall:link, a.BodyTextLinkSmall:visited {
    color: #0365FE;
    font-size: 11px;
}

a.mainnav, a.mainnav:link, a.mainnav:visited, a.mainNav, a.mainNav:link, a.mainNav:visited {
    color: #3d3d3d;
    font-size: 11px;
    font-weight: bold;
}

body.employees a.mainnav, body.employees a.mainnav:link, body.employees a.mainnav:visited, body.employees a.mainNav, body.employees a.mainNav:link, body.employees a.mainNav:visited {
    color: #1187e7;
    font-weight: bold;
}

a.footnav, a.footnav:link, a.footnav:visited, a.footNav, a.footNav:link, a.footNav:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a.footnavon, a.footnavon:link, a.footnavon:visited, a.footNavOn, a.footNavOn:link, a.footNavOn:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a.generalnav, a.generalnav:link, a.generalnav:visited, a.generalNav, a.generalNav:link, a.generalNav:visited {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a.generalnavon, a.generalnavon:link, a.generalnavon:visited, a.generalNavOn, a.generalNavOn:link, a.generalNavOn:visited {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}

a.linksthirdcolumn, a.linksthirdcolumn:link, a.linksthirdcolumn:visited, a.linksThirdColumn, a.linksThirdColumn:link, a.linksThirdColumn:visited {
    color: #3d3d3d;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a.linksthirdcolumnbold, a.linksthirdcolumnbold:link, a.linksthirdcolumnbold:visited, a.linksThirdColumnBold, a.linksThirdColumnBold:link, a.linksThirdColumnBold:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #3d3d3d;
    font-size: 10px;
}

a.mainnav, a.mainnav:link, a.mainnav:visited, a.mainNav, a.mainNav:link, a.mainNav:visited {
    color: #5D605C;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

a.mainnavon, a.mainnavon:link, a.mainnavon:visited, a.mainNavOn, a.mainNavOn:link, a.mainNavOn:visited {
    color: #1187e7;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}

a.subnav, a.subnav:link, a.subnav:visited, a.subNav, a.subNav:link, a.subNav:visited {
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #3d3d3d;
}

a.subnavbold, a.subnavbold:link, a.subnavbold:visited, a.subNavBold, a.subNavBold:link, a.subNavBold:visited {
    color: #3d3d3d;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

a.subnavblue, a.subnavblue:link, a.subnavblue:visited, a.subNavBlue, a.subNavBlue:link, a.subNavBlue:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1187e7;
    font-size: 10px;
}

a.subnavhead, a.subnavhead:link, a.subnavhead:visited, a.subNavHead, a.subNavHead:link, a.subNavHead:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a.subnavheadlinkwhite, a.subnavheadlinkwhite:link, a.subnavheadlinkwhite:visited, a.subNavHeadLinkWhite, a.subNavHeadLinkWhite:link, a.subNavHeadLinkWhite:visited {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

a.subnavheadlinkblack, a.subnavheadlinkblack:link, a.subnavheadlinkblack:visited, a.subNavHeadLinkBlack, a.subNavHeadLinkBlack:link, a.subNavHeadLinkBlack:visited {
    color: #292c29;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

a.topnav, a.topnav:link, a.topnav:visited, a.topNav, a.topNav:link, a.topNav:visited {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a.topnavbold, a.topnavbold:link, a.topnavbold:visited, a.topNavBold, a.topNavBold:link, a.topNavBold:visited {
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

a.utilitiesnav, a.utilitiesnav:link, a.utilitiesnav:visited, a.utilitiesNav, a.utilitiesNav:link, a.utilitiesNav:visited {
    color: #0365fe;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

a.visitornav, a.visitornav:link, a.visitornav:visited, a.visitorNav, a.visitorNav:link, a.visitorNav:visited {
    color: #2e2e2e;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

a.visitornavon, a.visitornavon:link, a.visitornavon:visited, a.visitorNavOn, a.visitorNavOn:link, a.visitorNavOn:visited {
    color: #2e2e2e;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}

a.footnav, a.footnav:link, a.footnav:visited, a.footNav, a.footNav:link, a.footNav:visited {
    color: #575757;
    font-weight: bold;
}

a.footnavon, a.footnavon:link, a.footnavon:visited, a.footNavOn, a.footNavOn:link, a.footNavOn:visited {
    color: #575757;
    text-decoration: underline;
    font-weight: bold;
}

ul.home {
    margin-top: 0;
    margin-bottom: 0;
    list-style-image: url("../images/layout/bullet.gif");
    position: relative;
    right: 1.5em;
}
